.checkbox-item {
    transition: background-color 0.5s;
  }
  
  .checkbox-item.selected {
    background-color: rgb(25, 118, 210)
  }
  
  .checkbox-item-details {
    width: 100%;
    height: 200px; /* adjust as needed */
    overflow: auto; /* enable scrolling if content is too long */
    border-top: 1px solid black;
  }